@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --negro-elegante:#0F172A;
    --border-soft: #e5e7eb;     
    --gris-suave:#F7F7F7;
    --gris-medio: #cdcdcd;
    --amarillo-js:#F7DF1E;
    --bg-main: #f6f7f9; 
    --yellow-soft: #fff7cc;      
}

*{
    background-color: var(--bg-main);
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto";
}

header{
    height: 10dvh;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 100px;
}

/* Apertura */

.apertura{
    position: absolute;
    border: 1px solid var(--amarillo-js);
    border-radius: 1rem;
    padding: 3rem;
    z-index: 1;
    max-width: 500px;
    top: 30%;
}

.apertura h1{
    margin-bottom: 2rem;
    color: var(--negro-elegante)
}

.apertura span{
    color: var(--amarillo-js);
}

.apertura p{
    color: var(--negro-elegante);
    margin-bottom: 1.5rem;
    line-height: 26px;
}

#comenzar{
    padding: .7rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--amarillo-js);
    font-weight: bold;
}

#comenzar:hover{
    opacity: .74;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contenedor__principal{
    height: auto;
    width: 600px;
    border: 1px solid var(--negro-elegante);
    border-radius: 1rem;
    padding: 1rem;
    display: none;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.direccionando {
    margin: 1rem ;
    display: flex;
    gap: .7rem;
}

.ubicando-estetica {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.ubicando-estetica hr {
    border: 1px solid var(--amarillo-js);
}

#span-contador {
    padding: .6rem;
    background-color: var(--amarillo-js);
    border-radius: 1.5rem;
}

#pregunta{
    font-size: 1.7rem;
    color: var(--negro-elegante);
    margin: 1.5rem 2.2rem 1rem 2.2rem;
}

/* opciones */

.opciones{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 1rem;
    width: 90%;
    padding: 1.5rem 0;
    padding-left: 2rem;
    border-radius: 1rem;
    height: auto;
    border: 2px solid var(--border-soft);
    cursor: pointer;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
}

.opciones span{
    padding: .8rem;
    background-color: var(--amarillo-js);
    border-radius: 1rem;
    color: var(--negro-elegante);
    font-weight: bold;
}

.opciones p{
    font-size: 1.3rem;
}

.opciones.activo{
    border: 2px solid var(--amarillo-js);
    background: var(--yellow-soft);
    border-color: var(--amarillo-js);
    box-shadow:0 8px 18px rgba(250, 204, 21, 0.35);
}


.opciones.activo p {
    background: var(--yellow-soft);
    border-color: var(--amarillo-js);
}


/* boton confirmacion */

.confirmar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmar button{
    padding: .8rem 3rem;
    margin: .5rem 0;
    letter-spacing: .5px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: var(--amarillo-js);
    font-weight: bold;
    color: var(--negro-elegante);
    font-size: 1rem;
    letter-spacing: 2px;
}

.confirmar button:hover{
    opacity: .74;
}


/* para mostrar cuantas acerto */

.contenedor__derecha{
    height: auto;
    padding: 2rem;
    width: 400px;
    margin-left: 1.5rem;
    border-radius: 1rem;
    display: none;
}

.contenedor__resultados{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 2.5rem;
    padding: 2.5rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    margin: 0 1.5rem;
    border: 1px solid var(--negro-elegante);
}

.contenedor__resultados div{
    background-color: var(--amarillo-js);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 50px;
    border-radius: 1.5rem;
    color: var(--negro-elegante); 
    position: relative;
    font-weight: bold;
}



/* PARA USAR EN JS Y MOSTRAR SI ESTA BIEN O MAL */

.contenedor__resultados div::after {
    content: ""; 
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.contenedor__resultados div.tic::after {
    content: "✔";
    color: #22c55e; 
}


.contenedor__resultados div.cruz::after {
    content: "✖";
    color: #ef4444; 
}

/* boton de  next */
#next {
    position: absolute;
    right: 0;
    transform: translateX(-30px) translateY(-45px);
    cursor: pointer;
    border: none;
}

i {
    color: var(--amarillo-js);
    font-size: 2rem;
}

#previous {
    position: absolute;
    left: 0;
    transform: translateX(30px) translateY(-45px);
    cursor: pointer;
    border: none;
    transition: all .5s ease;
}

i {
    color: var(--amarillo-js);
    font-size: 2rem;
}

#next:hover,#previous:hover {
    opacity: .74;
}

/* contador preguntas */

#span-contador {
    font-size: 1.7rem;
    color: var(--negro-elegante);
    padding-left: 1rem;
    width: 100px;
}